<div id="professionals" class="secondary-text-section">
  <h1 class="title-section">Profissionais</h1>
  <h2 class="subtitle-section">Somos especializados na desburocratização de processos.</h2>
</div>

<div class="professionals secondary-margins" fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px">

  <mat-card fxLayout="column" fxLayoutAlign="start" fxFlex="50" fxFlex.xs="100">
    <div class="card-title-space">
      <div fxLayout="row" fxLayoutAlign="center">
        <img class="professionals-icon" src="../../assets/images/danilo.png"/>
      </div>
      <div fxLayout="column">
        <div class="professionals-card-title">Danilo Pereira</div>
        <span class="professionals-card-subtitle">Advogado, casado e pai da Marina!</span>
        <span class="professionals-card-text">Com mais de 20 anos de experiência jurídica no mercado, responsável pela abertura, alteração e
        encerramento de empresas com capital social nacional e estrangeiro.</span>
        <span class="professionals-card-text">Possui conhecimento prático em licitações públicas e privadas nas mais diversas áreas, para a venda de prestação de
        serviços e produtos aos orgãos públicos, auxiliando os seus clientes a terem melhores resultados nos certames licitatórios.</span>
      </div>
    </div>
  </mat-card>

  <mat-card fxLayout="column" fxLayoutAlign="start" fxFlex="50" fxFlex.xs="100">
    <div class="card-title-space">
      <div fxLayout="row" fxLayoutAlign="center">
        <img class="professionals-icon" src="../../assets/images/leandro.png"/>
      </div>
      <div fxLayout="column">
        <div class="professionals-card-title">Leandro Goya</div>
        <span class="professionals-card-subtitle">Empreendedor e contador!</span>
        <span class="professionals-card-text">Experiência de 15 anos de profissão, colaborando na formalização e na gestão de negócios, tributos,
                        finanças e contabilidade. Bacharel em Ciências Contábeis, formado pela Universidade Cruzeiro do Sul.</span>
        <span class="professionals-card-text">Amante de empreendedorismo e contabilidade e tem como objetivo trasferir de forma simples e objetiva sua experiência e
                        know-how adquiridos como contador em grandes escritórios de BPO Contábil e administrador de empresas estrangeiras no Brasil.</span>
      </div>
    </div>
  </mat-card>

</div>
