

<div id="compromise" class="compromise primary-margins" fxLayout="row" fxLayout.xs="column"  fxLayoutGap="12px" fx>
    <div class="card-title-space compromise-card" fxLayout="column" fxLayoutAlign="start" fxFlex="32" fxFlex.md="31" fxFlex.sm="100" fxFlex.xs="100">
      <div class="text-section-compromise">
        <h1 class="title-section">Compromisso</h1>
        <h2 class="subtitle-section">A FormalizaDOC tem como compromisso atender com confidencialidade, integridade,
          legalidade e autenticidade.</h2>
      </div>
    </div>
  <mat-card fxLayout="column" fxLayoutAlign="start" fxFlex="32" fxFlex.md="31" fxFlex.sm="30"  fxFlex.sm="46" fxFlex.xs="100">
    <div class="card-title-space">
      <img class="compromise-icon" src="../../assets/icons/account-key.svg"/>
      <div class="compromise-card-title">Confidencialidade</div>
      <span class="compromise-card-subtitle">Garantir o resguardo das informações a nós confiadas enquanto trabalhamos para gerar valor ao negócio do nosso cliente.</span>
    </div>
  </mat-card>
  <mat-card fxLayout="column" fxLayoutAlign="start" fxFlex="32" fxFlex.md="31" fxFlex.sm="46" fxFlex.xs="100">
    <div class="card-title-space">
      <img class="compromise-icon" src="../../assets/icons/wall.svg"/>
      <div class="compromise-card-title">Integridade</div>
      <span class="compromise-card-subtitle">Agir com honestidade e retidão, de forma a atuar diretamente na solução dos problemas do cliente seguindo os valores de justiça e equidade.</span>
    </div>
  </mat-card>
  <mat-card class="margin-card-compromise" fxLayout="column" fxLayoutAlign="start" fxFlex="32" fxFlex.md="31" fxFlex.sm="46" fxFlex.xs="100">
    <div class="card-title-space">
      <img class="compromise-icon" src="../../assets/icons/approval.svg"/>
      <div class="compromise-card-title">Legalidade</div>
      <span class="compromise-card-subtitle">Trabalhar de acordo com as leis, os valores de justiça e normas pré-estabelecidas com o cliente.</span>
    </div>
  </mat-card>
  <mat-card class="margin-card-compromise" fxLayout="column" fxLayoutAlign="start" fxFlex="32" fxFlex.md="31" fxFlex.sm="46" fxFlex.xs="100">
    <div class="card-title-space">
      <img class="compromise-icon" src="../../assets/icons/folder-star.svg"/>
      <div class="compromise-card-title">Autenticidade</div>
      <span class="compromise-card-subtitle">Atuar de maneira autêntica e legitima, oferecendo um serviço de boa qualidade.</span>
    </div>
  </mat-card>

</div>
