<div id="process" class="text-section">
  <h1 class="title-section">Processo</h1>
  <h2 class="subtitle-section">Para facilitar a burocracia nos processos com a entrega dos nossos serviços atuamos com um método composto por 4
    fases simples: Mapeamento, diagnóstico, formalização e documentação.</h2>
</div>

<div class="process primary-margins" fxLayout="row" fxLayout.xs="column"  fxLayoutGap="15px" >
  <mat-card fxLayout="column" fxLayoutAlign="start" fxFlex="25" fxFlex.sm="46" fxFlex.xs="100">
    <div class="card-title-space">
      <img class="process-icon" src="../../assets/icons/circle-edit-outline.svg"/>
      <div class="process-card-title">Mapeamento</div>
      <span class="process-card-subtitle">A primeira fase inicia-se com o levantamento de dados e o entendimento das necessidades do cliente.</span>
    </div>
  </mat-card>
  <mat-card fxLayout="column" fxLayoutAlign="start" fxFlex="25" fxFlex.sm="46" fxFlex.xs="100">
    <div class="card-title-space">
      <img class="process-icon" src="../../assets/icons/clipboard-pulse.svg"/>
      <div class="process-card-title">Diagnóstico</div>
      <span class="process-card-subtitle">A definição das ações necessárias para atender a demanda levantada pelo cliente são estabelecidas na fase de diagnóstico.</span>
    </div>
  </mat-card>
  <mat-card fxLayout="column" fxLayoutAlign="start" fxFlex="25" fxFlex.sm="46" fxFlex.xs="100">
    <div class="card-title-space">
      <img class="process-icon" src="../../assets/icons/file-document.svg"/>
      <div class="process-card-title">Formalização</div>
      <span class="process-card-subtitle">Durante a formalização acontece a entrada e o acompanhamento das ações definidas para atender o objetivo da demanda.</span>
    </div>
  </mat-card>
  <mat-card fxLayout="column" fxLayoutAlign="start" fxFlex="25" fxFlex.sm="46" fxFlex.xs="100">
    <div class="card-title-space">
      <img class="process-icon" src="../../assets/icons/archive.svg"/>
      <div class="process-card-title">Documentação</div>
      <span class="process-card-subtitle">A última etapa do processo é composta pela formatação do que foi desenvolvido e a entrega final da demanda solicitada.</span>
    </div>
  </mat-card>

</div>
