<nav mat-tab-nav-bar class="menu" fxHide.sm="true" fxHide.xs="true">
  <div mat-tab-link class="logo-title"><a href="." class="first-logo-part">Formal</a><a href="." class="second-logo-part">izaDOC</a></div>
  <a href="#home" mat-tab-link>Início</a>
  <a href="#products" mat-tab-link>Produtos</a>
  <a href="#process" mat-tab-link >Processo</a>
  <a href="#professionals" mat-tab-link >Profissionais</a>
  <a href="#compromise" mat-tab-link >Compromisso</a>
  <a href="#contact" mat-tab-link >Contato</a>
</nav>


