<div id="contact" class="secondary-text-section">
  <h1 class="title-section">Contato</h1>
  <h2 class="subtitle-section">Entre em contato, nós podemos facilitar a burocracia para você.</h2>
</div>

<div class="contact secondary-margins" fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px">

  <mat-card class="contact-field" fxLayout="column" fxLayoutAlign="center stretch" fxFlex="60">

    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Placeholder">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="Placeholder">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Telefone</mat-label>
      <input matInput placeholder="Placeholder">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Empresa</mat-label>
      <input matInput placeholder="Placeholder">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Setor de atuação</mat-label>
      <input matInput placeholder="Placeholder">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Área de interesse</mat-label>
      <input matInput placeholder="Placeholder">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Mensagem"></textarea>
    </mat-form-field>

    <div fxLayoutAlign="center center">
      <button mat-stroked-button>Enviar</button>
    </div>

  </mat-card>

  <div class="contact-text">

    <h3>E-mail</h3>
    <h4>contato@formalizadoc.com.br</h4>
    <h4>comercial@formalizadoc.com.br</h4>

    <h3>Telefone</h3>
    <h4>+55 11 2386-6689</h4>

    <h3>Endereço</h3>
    <h4>Av. Paulista, 807 - 23 andar - Bela Vista</h4>
    <h4>São Paulo - SP, 01311-100</h4>

  </div>


</div>
