<div id="products" class="text-section">
  <h1 class="title-section">Produtos</h1>
  <h2 class="subtitle-section">A FormalizaDOC oferece serviços especializados
    para facilitar a burocracia dos processos para o cliente. Veja como podemos te ajudar.</h2>
</div>

<div class="products primary-margins" fxLayout="row" fxLayout.xs="column"  fxLayoutGap="10px">
  <mat-card class="products-card" fxFlex="25" fxFlex.sm="46" fxFlex.xs="100">
    <div class="card-title-space" fxLayout="row" fxLayoutAlign="none center">
    <img class="products-icon" src="../../assets/icons/buffer.svg"/>
    <div class="card-title">Abertura de Empresa</div>
    </div>
    <div class="products-detail-card" fxLayout="column" fxLayoutAlign="center">
      <span fxLayout="column" fxLayoutAlign="center">Elaboração do contrato social de constituição</span>
      <span fxLayout="column" fxLayoutAlign="center">Cadastro na Receita Federal</span>
      <span fxLayout="column" fxLayoutAlign="center">Cadastro na Junta Comercial</span>
      <span fxLayout="column" fxLayoutAlign="center">Registro em Cartório</span>
      <span fxLayout="column" fxLayoutAlign="center">Inscrição Municipal</span>
      <span fxLayout="column" fxLayoutAlign="center">Inscrição Estadual</span>
      <span fxLayout="column" fxLayoutAlign="center">Inscrição na Caixa Econômica Federal (FGTS)</span>
    </div>
  </mat-card>
  <mat-card class="products-card" fxFlex="25" fxFlex.sm="46" fxFlex.xs="100">
    <div class="card-title-space" fxLayout="row" fxLayoutAlign="none center">
      <img class="products-icon" src="../../assets/icons/account-convert.svg"/>
      <div class="card-title">Alteração de Empresa</div>
    </div>
    <div class="products-detail-card" fxLayout="column" fxLayoutAlign="start">
      <span fxLayout="column" fxLayoutAlign="center">Elaboração de alteração do contrato social da empresa</span>
      <span fxLayout="column" fxLayoutAlign="center">Alteração do cadastro na Receita Federal</span>
      <span fxLayout="column" fxLayoutAlign="center">Alteração do cadastro na Junta Comercial</span>
      <span fxLayout="column" fxLayoutAlign="center">Alteração do Registro em Cartório</span>
      <span fxLayout="column" fxLayoutAlign="center">Alteração da Inscrição Municipal</span>
      <span fxLayout="column" fxLayoutAlign="center">Alteração da Inscrição Estadual</span>
      <span fxLayout="column" fxLayoutAlign="center">Alteração da inscrição na Caixa Econômica Federal (FGTS)</span>
    </div>
  </mat-card>
  <mat-card class="products-card" fxFlex="25" fxFlex.sm="46" fxFlex.xs="100">
    <div class="card-title-space" fxLayout="row" fxLayoutAlign="none center">
      <img class="products-icon" src="../../assets/icons/wallet-travel.svg"/>
      <div class="card-title">Encerramento de Empresa</div>
    </div>
    <div class="products-detail-card" fxLayout="column" fxLayoutAlign="start">
      <span fxLayout="column" fxLayoutAlign="center">Elaboração do Distrato Social</span>
      <span fxLayout="column" fxLayoutAlign="center">Cadastro na Receita Federal</span>
      <span fxLayout="column" fxLayoutAlign="center">Cadastro na Junta Comercial</span>
      <span fxLayout="column" fxLayoutAlign="center">Registro em Cartório</span>
      <span fxLayout="column" fxLayoutAlign="center">Baixa na Inscrição Municipal</span>
      <span fxLayout="column" fxLayoutAlign="center">Baixa na Inscrição Estadual</span>
      <span fxLayout="column" fxLayoutAlign="center">Baixa na Inscrição na Caixa Econômica Federal (FGTS)</span>
    </div>
  </mat-card>
  <mat-card class="products-card" fxFlex="25" fxFlex.sm="46" fxFlex.xs="100">
    <div class="card-title-space" fxLayout="row" fxLayoutAlign="none center">
      <img class="products-icon" src="../../assets/icons/account-group.svg"/>
      <div class="card-title">Consultoria Empresarial</div>
    </div>
    <div class="products-detail-card" fxLayout="column" fxLayoutAlign="start">
      <span fxLayout="column" fxLayoutAlign="center">Licitações públicas e privadas</span>
      <span fxLayout="column" fxLayoutAlign="center">Análise do edital</span>
      <span fxLayout="column" fxLayoutAlign="center">Apresentação de questionamentos</span>
      <span fxLayout="column" fxLayoutAlign="center">Formatação da licitação para finalização</span>
      <span fxLayout="column" fxLayoutAlign="center">Definição do processo financeiro</span>
      <span fxLayout="column" fxLayoutAlign="center">Definição do processo contábil</span>
      <span fxLayout="column" fxLayoutAlign="center">Definição de indicadores</span>
    </div>
  </mat-card>

</div>
