<mat-sidenav-container
  class="example-container" (backdropClick)="close('backdrop')">

  <mat-sidenav class="sidenav" #sidenav (keydown.escape)="close('escape')" fxLayout="column" fxLayoutAlign="start start" >
    <div class="logo-title-mobile"><a href="." class="first-logo-part">Formal</a><a href="." class="second-logo-part">izaDOC</a></div>
    <div> <a mat-button class="sidenav-item" href="#home" (click)="close('escape')" ><img class="sidenav-icon" src="../../assets/icons/animation.svg"/> Início</a></div>
    <div><a mat-button class="sidenav-item" href="#products" (click)="close('escape')" ><img class="sidenav-icon" src="../../assets/icons/buffer-black.svg"/>Produtos</a></div>
    <div><a mat-button class="sidenav-item" href="#process" (click)="close('escape')" ><img class="sidenav-icon" src="../../assets/icons/rotate-right.svg"/>Processo</a></div>
    <div><a mat-button class="sidenav-item" href="#professionals" (click)="close('escape')" ><img class="sidenav-icon" src="../../assets/icons/account-multiple.svg"/>Profissionais</a></div>
    <div><a mat-button class="sidenav-item" href="#compromise" (click)="close('escape')" ><img class="sidenav-icon" src="../../assets/icons/approval-mobile.svg"/>Compromisso</a></div>
    <div><a mat-button class="sidenav-item" href="#contact" (click)="close('escape')" ><img class="sidenav-icon" src="../../assets/icons/email.svg"/>Contato</a></div>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="mobile-toolbar">
      <button mat-icon-button (click)="sidenav.open()"><mat-icon>menu</mat-icon></button>
      <div class="logo-title-mobile"><a href="." class="first-logo-part">Formal</a><a href="." class="second-logo-part">izaDOC</a></div>
    </mat-toolbar>

    <app-layout></app-layout>
  </mat-sidenav-content>
</mat-sidenav-container>



